<main class="relative w-full min-h-screen overflow-hidden bg-black">
  <div class="absolute inset-0 z-0 " >
    <img
      [src]="currentBackgroundImage"
      class="w-full h-full object-cover filter blur-sm brightness-75"
      alt="Netflix background"
    />
    <div
      class="absolute inset-0 bg-gradient-to-b from-black/50 via-black/40 to-black/90"
    ></div>
  </div>

  <div class="absolute inset-0 bg-black-30 z-10"></div>

  <div class="relative overflow-auto mx-auto z-30 min-h-screen mb-2">
    <div class="max-w-7xl mx-auto">
      <div class="relative z-30 h-full flex flex-col">
        <header class="flex justify-between items-center p-6">
          <img
            src="../../assets/netflixlogo.svg"
            class="w-32"
            alt="Netflix logo"
          />
          <button class="bg-white px-4 py-1 rounded-full">Sign In</button>
        </header>
      </div>
      <app-carousel />

    </div>
  
    <div class="bg-gradient-to-b from-black/10 via-black/70 to-black p-6">
      
      <app-trending />

    <div class="text-white p-10 max-w-7xl mx-auto">
        <h2 class="text-3xl font-bold mb-6">More Reasons to Join</h2>
        <div class="grid md:grid-cols-4 gap-6">
          <div
            class="bg-black/40 border-black p-6 rounded-xl shadow-lg flex flex-col h-full"
          >
            <div class="flex-grow">
              <h3 class="text-lg font-semibold mb-2">Enjoy on your TV</h3>
              <p class="text-slate-300">
                Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV,
                Blu-ray players, and more.
              </p>
            </div>
            <div class="mt-4 flex justify-end">
              <img src="../assets/tv.png" alt="TV Icon" class="w-12 h-12" />
            </div>
          </div>

          <div
            class="bg-black/40 border-black p-6 rounded-xl shadow-lg flex flex-col h-full"
          >
            <div class="flex-grow">
              <h3 class="text-lg font-semibold mb-2">
                Download your shows to watch offline
              </h3>
              <p class="text-slate-300">
                Save your favorites easily and always have something to watch.
              </p>
            </div>
            <div class="mt-4 flex justify-end">
              <img
                src="../assets/download.png"
                alt="Download Icon"
                class="w-12 h-12"
              />
            </div>
          </div>

          <div
            class="bg-black/40 border-black p-6 rounded-xl shadow-lg flex flex-col h-full"
          >
            <div class="flex-grow">
              <h3 class="text-lg font-semibold mb-2">Watch everywhere</h3>
              <p class="text-slate-300">
                Stream unlimited movies and TV shows on your phone, tablet,
                laptop, and TV.
              </p>
            </div>
            <div class="mt-4 flex justify-end">
              <img
                src="../assets/scope.png"
                alt="Devices Icon"
                class="w-12 h-12"
              />
            </div>
          </div>

          <div
            class="bg-black/30 border-white p-6 rounded-xl shadow-lg flex flex-col h-full"
          >
            <div class="flex-grow">
              <h3 class="text-lg font-semibold mb-2">
                Create profiles for kids
              </h3>
              <p class="text-slate-300">
                Send kids on adventures with their favorite characters in a
                space made just for them — free with your membership.
              </p>
            </div>
            <div class="mt-4 flex justify-end">
              <img src="../assets/kids.png" alt="Kids Icon" class="w-12 h-12" />
            </div>
          </div>
        </div>
      </div>
    <app-faq />
  </div>


  </div>

  
</main>
