<main class="relative w-full h-screen overflow-hidden bg-black">
  <div
    class="absolute inset-0 bg-gradient-to-b from-black/50 via-black/40 to-black/90 z-20"
  ></div>

  <div class="absolute inset-0 z-0">
    <img
      src="../assets/netflix.jpg"
      class="w-full h-full object-cover filter blur-sm brightness-75"
      alt="Netflix background"
    />
  </div>

  <div class="max-w-7xl mx-auto">
    <div class="relative z-30 h-full flex flex-col">
      <header class="flex justify-between items-center p-6">
        <img src="../assets/netflixlogo.svg" class="w-32" alt="Netflix logo" />
        <button class="bg-white px-4 py-1 rounded-full">Sign In</button>
      </header>
    </div>
    <app-carousel />

    
  </div>
</main>
